form {
  margin: 2em auto;
  max-width: 750px;
}

.heat-range {
  width: 60%;
  display: block;
}

.heat-container {
  display: flex;
}

.heat-reading {
  width: 5em;
  margin-left: 1.5em;
  background-color: white;
}

input[type="file"] {
  display: none;
}
